.controllers.tour3
  Blur:
  #blur_slider.sliders
  #blur_slider_value.values
    = "&nbsp".html_safe

  Segments:
  #segmentation_slider.sliders
  #segmentation_slider_value.values
    = "&nbsp".html_safe
    
  %button.crop_button
    Crop!