.controllers{:style=>'clear:both; margin-top: 400px; width: 200px;'}
  %div{:style => 'float: right; width: 100px;'}
    #first_slider   
  #first_slider_value{:style=> 'width: 20px;'}
  #second_slider
  #third_slider