-if logged_in?
  #dest.dest
    #result_image.box.right.tour2
      %p.text_in_box
        Result image
    #drop_here.box.left.tour1
      %p.text_in_box
        Drop image here
 
  = render 'controllers'
  
  .progress_bar_container
    #progress_bar

  -#%button.pageslide_button
    -#Order!
  %a.pageslide{:href=>'/order'}
    order

  .info_about_me.zoom_to
    = render 'author'
  
-else
  .fb-login-button
  %p
    Plese login!
  #no_support_modal{:style=>'display: none;'}
    = "Your browser <span class='error_underline'>does not seems to be supported</span>. Please upgrade to last version of Your browser or use latest version of Firefox or Chrome.".html_safe
    