-if logged_in?
  #dest.dest
    #result_image.box.right
      %p.text_in_box
        Result image
    #drop_here.box.left
      %p.text_in_box
        Drop image here
  
  .progress_bar_container
    #progress_bar
-else
  .fb-login-button
  %p
    Plese login!
  #no_support_modal{:style=>'display: none;'}
    = "Your browser <span class='error_underline'>does not seems to be supported</span>. Please upgrade to last version of Your browser or use latest version of Firefox or Chrome.".html_safe
    