%header
  Two Tone Silhouette
  %mark.alfa_sign
    early alfa version 
  %mark.by
    by Kazimierz Kiełkowicz

.content
  #dest.dest
    #spinner
      = image_tag 'spinner.gif'
    #result_image.box.right
      %p.text_in_box
        Result image
    #drop_here.box.left
      %p.text_in_box
        Drop image here
    .progress_bar_container
      #progress_bar

%footer
  %p
    Created for 
    %mark.company_name 
      Clickcommunity
    %mark.interview
      interview
    %br/
    2011




