// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.logout_link {
	position: absolute;
	right: 65px;
	top: 5px;
	font: {
		size: 10px;
		};
	width: 10px;
}

.error_underline {
	color: red	;
}

.crop_button {
	position: relative;
	top: -125px; 
	left: 120px
}

.info_about_me {
	font: {
		size: 10px;
		};
	background-color: red;
	width: 100px;
	height: 100px;
	z-index: 100;
	-moz-transform: translateX(50px) translateY(65px) rotate(-10deg) translateX(-50px) translateY(-50px);
}