// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order_body {
	padding-left: 20px;
	color: yellow;
}

div.order_body h1 {
	word-spacing: 10px;
	letter-spacing: 5px;
}